*.log
*.pot
*.pyc
# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

#virtualenv
frds-venv/

#allvritualenv
venv/
venv-tt/

#conf
conf/awstats.conf
conf/
djangocosign/
local.py

#fixtures
read_types_local.json
sites_local.json
tags_local.json
tolasites_local.json

#Misc.
.idea/
.DS_Store
media/
client_secrets.json
*.crt
*.key
error.log
*.secret
*.secret.yml
