{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}CommCare Forms{% endblock %}

{% block content %}

    {% if not data %}
        <img src="{{ STATIC_URL }}/img/commcare_logo_white.png">
        <p>Get access to your commcare data:</p>
        {% crispy form %}
        {% if auth == 1%} <!-- link to password -->
          <p>If you wish to instead login using your password click <a href="/commcare/passform/">here</a>. This will not save your login information for next time and prevent Tola from being able to update your table. </p>
        {% elif auth == 2 %} <!-- link to authorization -->
          <p>If you wish to instead login using your authorization token click <a href="/commcare/">here</a>. This will not save your login information for next time and prevent Tola from being able to update your table. </p>
        {% else %} <!-- link to logout -->
          <p> You can also <a href="/commcare/logout/">Logout</a> of this CommCare account. </p>
        {% endif %}
    {% else %}
      <p>You can also do operations on these forms. These operations will allows you to delete data if certain conditions are not met. </p>
      {% for col in data %}
        <p> {{col}} </p>
      {% endfor %}
    {% endif %}
    <div class="modal fade" id="form_modal" tabindex="-1" role="dialog" aria-labelledby="form_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modal_content">
            <!-- form will be inserted here -->
        </div> <!-- .modal-content div collapse -->
    </div><!-- .modal-dialog .modal-lg div collapse -->
</div> <!-- .modal fade div collapse -->
{% endblock content %}

{% block extra_js_in_body %}
    <script type="text/javascript">
        $(document).ready(function() {

            $("select").on("change", function() {
                //var silo_id =  $("#" + this.id).val());
                var select_obj = $("#" + this.id);
                var silo_id =  select_obj.val();
                if (silo_id < 0) {
                    var new_silo_name = prompt("Enter the name of your name silo");
                    if (new_silo_name) {
                      var num_options = select_obj.children("option").length;
                      $("#" + select_obj[0].id + " option").val(0).text(new_silo_name);
                      $("#" + select_obj[0].id).val(0);
                    }
                }
            });
        });
    </script>
{% endblock %}
