{% extends "base.html" %} 
{% block page_title %}Get Data From an External Data Collection Tool{% endblock %}

{% block content %}
	<p>Upload data file:</p>
    {% load crispy_forms_tags %}
    {% crispy form %}
    <form action="" method="post">{% csrf_token %}
    <input type="hidden" name="read_id" value="{{ read_id }}">
    <BR/>
    Select a Silo to Store Data:
	<select name="silo_id">
	{% for ss in get_silo %}
		<option value="{{ ss.id }}">{{ ss.name}}</option>
	{% endfor %}
	</select>
	Or Enter a New Silo
	<input type="text" name="new_silo" value="">
	<input type="hidden" name="id" value="{{ read_obj.id }}">
	<input type="submit" value="Submit" />
	</form>

{% endblock content %}