/*
 * Base structure
 */

/* Chart.js legends */

.chart-legend {
  list-style: none;
  position: relative;
  right: 8px;
  top: 0;
}
.chart-legend li {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.chart-legend li:hover {
  background-color: #fafafa;
}
.chart-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.row .dashboard{
  padding: 5px;
  background-color: #1b6d85;
}