{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Ona Forms{% endblock %}

{% block content %}

    {% if not data %}
        <img src="{{ STATIC_URL }}/img/Ona-Logo.png" style="padding: 5px; width: 150px">
        {% if not has_data %}
            <p>Login to your Ona account:</p>
            {% crispy form %}
        {% else %}
            <p>If you do not see a login form, please ensure that you have forms or Data <br/> associated with your account at <a href="http://www.ona.io">Ona</a>, then try logging in again.</p>
        {% endif %}
    {% else %}
        <p>List of forms from Ona.  Forms that have been imported are associated with a table. You can also <a href="/provider_logout/ONA/">Logout</a> of this Ona users forms and <a href="/provider_logout/ONA/">log in to another Ona account here</a>.</p>
        <table id="onaforms" class="table table-bordered table-hover table-striped">
            <tr>
                <th>No</th>
                <th>Title</th>
                <th>Description</th>
                <th>URL</th>
                <th># of Records</th>
                <th>Table Exists</th>
                <th>Table</th>
                <th>Action</th>
            </tr>
        {% for row in data %}
            <tr>
                <form action="{% url 'list_silos' %}" method="POST" id = "{{ forloop.counter }}">{% csrf_token %}
                <td> {{ forloop.counter }} </td>
                <td> <input type="hidden" value="{{ row.title }}" name="title"></input>{{ row.title }} </td>
                <td> <input type="hidden" value="{{ row.description }}" name="description"></input>{{ row.description }} </td>
                <td> <input type="hidden" value="{{ row.url }}" name="read_url"></input>{{ row.url }} </td>
                     <input type="hidden" value="1" name="title"></input>
                     <input type="hidden" value="1" name="type"></input>
                     <input type="hidden" value="{{ request.user.id }}" name="owner"></input>
                <td> <input type="hidden" value="{{ row.count }}" name="read_count"></input>{{ row.count }} </td>
                <td> <input type="hidden" value="{{ row.silo }}" name="read_silo"></input>{% for item in row.silo %}<a href="/show_read/{{ item.id }}">{{ item }}</a> <br/>{% endfor %} </td>
                <td>
                    <select id="id_silo-{{forloop.counter}}" name="silo_id" class="form-control input-sm">
                        <option selected="selected" value=""></option>
                        <option value="-1">Create New Table</option>
                        {% for silo in silos %}
                            <option value="{{ silo.id }}"> {{ silo.name }} </option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input type="button" name="submit-id-save-{{forloop.counter}}" value="Import" class="btn btn-sm btn-primary" onclick="$(this).onalog();">
                </td>
                </form>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    <div class="modal fade" id="form_modal" tabindex="-1" role="dialog" aria-labelledby="form_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modal_content">
            <!-- form will be inserted here -->
        </div> <!-- .modal-content div collapse -->
    </div><!-- .modal-dialog .modal-lg div collapse -->
</div> <!-- .modal fade div collapse -->
{% endblock content %}

{% block extra_js_in_body %}
    <script type="text/javascript">
        $(document).ready(function() {

            $("select").on("change", function() {
                //var silo_id =  $("#" + this.id).val());
                var select_obj = $("#" + this.id);
                var silo_id =  select_obj.val();
                if (silo_id < 0) {
                    var new_silo_name = prompt("Enter the name of your name silo");
                    if (new_silo_name) {
                        var num_options = select_obj.children("option").length;
                        $("#" + select_obj[0].id + " option").eq(1).after($("<option></option>").val(0).text(new_silo_name));
                        $("#" + select_obj[0].id).val(0);
                    }
                }
            });

            $.fn.onalog = (function(e) {
                var id = $(this).closest('tr').find("td:nth-child(3)").text().trim();
                var name = $(this).closest('tr').find("td:nth-child(4)").text().trim();
                var desc = $(this).closest('tr').find("td:nth-child(5)").text().trim();
                var url = $(this).closest('tr').find("td:nth-child(6)").text().trim();
                var silo_id = $("#id_silo-"+id).val();
                var silo_name = $("#id_silo-"+id + " option:selected").text();
                if (!silo_id || silo_id < 0) {
                    alert("You must select a silo for storing data before you can import");
                    return;
                }

                //console.log("Name: " + name + " description: " + desc + " url: " + url + " silo: " + silo_id);

                $.post("/saveAndImportRead/", {read_name: name, description: desc, read_url: url, silo_id: silo_id, silo_name : silo_name })
                    .success(function(data, textStatus, xhr) {
                        /*
                        console.log("status: " + xhr.status +
                              //", data: " + data +
                              //", this.data: " + this.data +
                              ", responseText: " + xhr.responseText +
                              ", textStatus: " + textStatus +
                              ", this.usl: " + this.url +
                              ", xhr.getResponseHeader('Content-Type')" + xhr.getResponseHeader("Content-Type")
                        );
                        */
                        //addMessage(data, "success" );
                        console.log(this.url);
                        if (xhr.getResponseHeader('show_mapping') == "1") {
                            $("#modal_content").html(data);
                            $('#form_modal').modal('toggle');
                        } else {
                            addMessage(data, "info" );
                        }
                    })
                    .fail(function(data) {
                       // addMessage(data, "error ");
                    })
                    .done(function(data, xhr) {
                        window.location.replace(data);
                    })
                    .complete(function(data, xhr) {
                        //show_column_mapping();
                    });
            });
        });

        function show_column_mapping() {
            console.log("OK... showing column mapping.");
            $.post("/merge_columns", {from_silo_id: "0", to_silo_id: "0"})
                .success(function(data, textStatus, xhr) {
                    console.log("OK");
                });
        }
    </script>
{% endblock %}
