{% block content %}

<div style="display:none;">{{ from_silo_id }}</div>
<div style="display:none;">{{ to_silo_id }}</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Column Aggregation Options</h4>
            </div>
            <div class="modal-body">
                <p>Select how to aggregate the columns&hellip;</p>
                <select id="merge_type">
                    <option value='concatenate'>Join</option>
                    <option value='sum'>Sum</option>
                    <option value='avg'>Avg</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Modal -->
<div class="modal fade" id="mergeTypeModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>Select "Merge" if you'd like to combine rows into a single row.</p>
                <p>Select "Append" if you'd like to append rows without merging them</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeBtn" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="mergeBtn" class="btn btn-default" data-dismiss="modal">Merge</button>
                <button type="button" id="appendBtn" class="btn btn-default" data-dismiss="modal">Append</button>
            </div>
        </div>
    </div>
</div>


<div id = 'mapped_columns_div' class="table-responsive" style="display: none;">
    <h3>Mapped columns from the two tables are shown below</h3>
    <table id = 'mapped_columns_table' class='table table-condensed table-bordered'>
        <tr>
            <th>Table One</th>
            <th>Table Two</th>
            <th style='width:90px;'>Merge Type</th>
            <th style='width:50px;'>Action</th>
        </tr>
        <!-- more rows are added dynamically as a user maps columns from table_1 to table_2 -->
    </table>
    <button id='submit' type="button" class="btn btn-primary pull-right">Submit</button>
</div>

<div id='step1_div' class="page-header">
    <h2>Step 1: Columns Selection</h2>
    <p>Select the columns from each table that you would like to keep and/or map and merge into a single table and click Next.</p>
    <div id='step1_btns_div'>
        <button id='choose_columns_btn' type="button" class="pull-right btn btn-primary" onclick="select_columns();">Select Columns</button>
    </div>
    <div class="clearfix"></div>
</div>

<div id='step2_div' class="page-header" style='display: none;'>
    <h2>Step 2: Columns Mapping</h2>
    <p>Select one or more columns from the left table and then select a single column from the right table and then click on "Map Selected Columns" button</p>
    <div id='step2_btns_div'>
        <button id='reset_columns_selection' type='button' class='pull-left btn btn-info' onclick='back_to_cols_selection();'>Back</button>
        <button id='map_cols_btn' type="button" class="btn btn-warning pull-right">Map Selected Columns</button>
    </div>
    <div class="clearfix"></div>
</div>

<div id = "step1_of_merge" class = "row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Table 1 <button id='select_all_left_columns' class='btn-xs btn-link pull-right'>Select All/Deselect All</button></h3>
            </div>
            <div class="clearfix"></div>
            <ul id = 'table_1_cols_bucket' class="list-group">
                {% for item in getSourceFrom %}
                    <li class="list-group-item">{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Table 2 <button id='select_all_right_columns' class='btn-xs btn-link pull-right'>Select All/Deselect All</button></h3>
            </div>
            <div class="clearfix"></div>
            <ul id = 'table_2_cols_bucket' class="list-group">
                {% for item in getSourceTo %}
                    <li class="list-group-item">{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock content %}


{% block extra_js_in_body %}
<script type-"text/javascript">
    var row_bg_class = undefined;
    /*
     * Goes Back to column selection screen
     */
    function back_to_cols_selection() {
        $('#step2_div').hide();
        $('#step1_div').show();
        var $table_1_visible_cols = $('#table_1_cols_bucket').children('.list-group-item:visible');
        $table_1_visible_cols.each(function() {
            $(this).addClass('list-group-item-success');
        });
        $('#table_1_cols_bucket li:hidden').show();

        var $table_2_visible_cols = $('#table_2_cols_bucket').children('.list-group-item:visible');
        $table_2_visible_cols.each(function() {
            $(this).addClass('list-group-item-success');
        });
        $('#table_2_cols_bucket li:hidden').show();
    }

    /*
     * Takes the current columns selection to the next step of mapping them.
     */
    function select_columns() {
        $('#step1_div').hide();
        $('#step2_div').show();
        var $table_1_cols_bucket = $('#table_1_cols_bucket').children().not('.list-group-item-success');
        $table_1_cols_bucket.each(function () {
            $(this).hide();
        });

        var $table_1_selected_cols = $('#table_1_cols_bucket').children('.list-group-item-success');
        $table_1_selected_cols.each(function() {
            $(this).removeClass('list-group-item-success');
        });

        var $table_2_cols_bucket = $('#table_2_cols_bucket').children().not('.list-group-item-success');
        $table_2_cols_bucket.each(function () {
            $(this).hide();
        });

        var $table_2_selected_cols = $('#table_2_cols_bucket').children('.list-group-item-success');
        $table_2_selected_cols.each(function() {
            $(this).removeClass('list-group-item-success');
        });
    }

    /*
     * Add the currently selected columns from the left and right buckets into the mapped table
     */
    function map_selected_column(){
        $('#mapped_columns_div').show();
        var undo_btn = '<input type="button" class="btn btn-danger btn-xs undo" value="Undo" />';
        var row = undefined;
        var merge_type = $('#merge_type option:selected').text();
        $("#merge_type").val('');

        // Get all the selected column from the right table
        var $table_2_cols_bucket = $('#table_2_cols_bucket').children('.list-group-item-success');
        var table_2_cols_bucket_str = '';

        // Get all the columns from the left table and then remove them from the left bucket
        var $table_1_cols_bucket = $('#table_1_cols_bucket').children('.list-group-item-success');

        if ($table_1_cols_bucket.length == 0 || $table_2_cols_bucket.length == 0 ){
            alert("You must select at least one column from the left table and exactly one column from the right table");
            return;
        }

        // STOP if more than one column is selected from the right table.
        if ($table_2_cols_bucket.length > 1) {
            alert("You must choose only a single column from the right table");
            return;
        }

        // Get a column from the right table and remove it from the right bucket
        $table_2_cols_bucket.each(function () {
            table_2_cols_bucket_str =  $(this).text() + "</td>";
            $(this).remove();
        });


        $table_1_cols_bucket.each(function () {
            if (row == undefined) {
                row = "<tr " + row_bg_class + "><td>" + $(this).text() + "</td><td rowspan=" + $table_1_cols_bucket.length + ">" + table_2_cols_bucket_str   + "<td rowspan=" + $table_1_cols_bucket.length + ">"  + merge_type + "</td><td rowspan=" + $table_1_cols_bucket.length + ">" + undo_btn + "</td></tr>";
            } else {
                row = "<tr " + row_bg_class + "><td>" + $(this).text() + "</td></tr>";
            }
            $(this).remove();
            $('#mapped_columns_table').append(row);
        });

        // alternate bgcolor for mapped columns
        if (row_bg_class == undefined) {
            row_bg_class = 'class="info"';
        } else {
            row_bg_class = undefined;
        }

    }

    $(document).ready(function() {
        $("#merge_type").val('');

        // Toggle background color as columns are clicked
        $('div#step1_of_merge').on('click', '.list-group-item', function() {
            $(this).toggleClass("list-group-item-success");
        });

        // map selected columns
        $('div#step2_btns_div').on('click', '#map_cols_btn', function() {
            var called = true;
            var $table_1_cols_bucket = $('#table_1_cols_bucket').children('.list-group-item-success');
            if ($table_1_cols_bucket.length > 1 ) {
                $('#myModal').modal('toggle');
            } else {
                map_selected_column();
            }
        });

        $('div.panel-heading').on('click', '#select_all_left_columns', function() {
            $('#table_1_cols_bucket').children().each(function() {
                $(this).toggleClass('list-group-item-success');
            });
        });

        $('div.panel-heading').on('click', '#select_all_right_columns', function() {
            $('#table_2_cols_bucket').children().each(function() {
                $(this).toggleClass('list-group-item-success');
            });
        });

        // Every time the modal closes, call the function that maps selected columns
        $('#myModal').on('hidden.bs.modal', function (e) {
            var merge_type = $('#merge_type option:selected').text();
            if (merge_type.length == 0) {
                alert("You must select an option from the Merge Type dropdown");
            } else {
                map_selected_column();
            }
        });


        // Undo individual mapping
        $('div#mapped_columns_div').on('click', 'input[type=button].undo', function() {
            var clicked_row_index = $(this).closest('tr').index('tr');

            var $rows = $('#mapped_columns_table').find('tr');
            var num_rows_to_iterate = $rows.eq(clicked_row_index).children().eq(1).attr('rowspan');

            // Get the right table column added back to the right bucket
            var cell_value = $rows.eq((clicked_row_index)).children().eq(1).text();
            $('#table_2_cols_bucket').append('<li class="list-group-item">' + cell_value + '</li>');

            // Get the left table column(s) added back to the left bucket.
            for (var i=0; i<=(num_rows_to_iterate-1); i++) {
                var cell_value = $rows.eq((clicked_row_index+i)).children().eq(0).text();
                $('#table_1_cols_bucket').append('<li class="list-group-item">' + cell_value + '</li>');
            }

            // Remove the rows that were unmapped from the mapped-table.
            for (var i=0; i<(num_rows_to_iterate); i++) {
                $('#mapped_columns_table').find('tr').eq((clicked_row_index)).remove();
            }

            if ($('#mapped_columns_table').find('tr').length == 1) {
                $('#mapped_columns_div').hide();
            }
        });

        $('#mapped_columns_div').on('click', '#submit', function(e) {
            e.preventDefault();
            $('#mergeTypeModal').modal('toggle');
        });

        $('#mergeTypeModal').on('click', '#mergeBtn', function (e) {
            submitMappedCols("merge");
        });

        $('#mergeTypeModal').on('click', '#appendBtn', function (e) {
            submitMappedCols("append");
        });
    }); // end of document ready


    //$('#mapped_columns_div').on('click', '#submit', function(e) {
    function submitMappedCols(mergeType){

        var merged_table_name = prompt("Please enter a name for the merged table");
        var columns_data = {};
        var cols = [];
        var right_col = undefined;
        var counter = 0;

        // Get all of the column mapping from the table.
        $('#mapped_columns_table tr').each(function (i, tr) {
            if (i == 0) { return; }
            var rowspan = $("td",tr).eq(1).attr('rowspan');
            if (rowspan > 0 ){
                if (cols.length > 0) { //first time
                    columns_data[counter] = {'left_table_cols': cols, 'right_table_col': right_col, 'merge_type': merge_type};
                    counter++;
                }
                right_col = $("td", tr).eq(1).text();
                merge_type = $("td", tr).eq(2).text();
                cols = [];
            }
            cols.push($("td",tr).eq(0).text());
        });
        columns_data[counter] = {'left_table_cols': cols, 'right_table_col': right_col, 'merge_type': merge_type};

        // add all of the unmapped columns from the left bucket
        var $table_1_visible_cols = $('#table_1_cols_bucket').children('.list-group-item:visible');
        cols = [];
        $table_1_visible_cols.each(function () {
            cols.push($(this).text());
        });
        columns_data['left_unmapped_cols'] = cols;

        // add all of the unmapped columns from the right bucket
        var $table_2_visible_cols = $('#table_2_cols_bucket').children('.list-group-item:visible');
        cols = [];
        $table_2_visible_cols.each(function () {
            cols.push($(this).text());
        });
        columns_data['right_unmapped_cols'] = cols;

        // Now post the data object to the server
        $.post("/do_merge/", {
            'columns_data': JSON.stringify(columns_data),
            'left_table_id': {{ from_silo_id  }},
            'right_table_id': {{ to_silo_id }} ,
            'merged_table_name': merged_table_name,
            'tableMergeType': mergeType,
            })
            .success(function(data, textStatus, xhr) {
                //addMessage(data, "success" );
                //console.log(this.url);
                if (xhr.getResponseHeader('show_mapping') == "1") {
                    $("#modal_content").html(data);
                    $('#form_modal').modal('toggle');
                } else {
                    addMessage(data['message'], data['status'] );
                }
            })
            .fail(function(data) {
                // addMessage(data, "error ");
            })
            .done(function(data, xhr) {
                //alert(xhr.status);
            })
            .complete(function(data, xhr) {
                //show_column_mapping();
            });
    }
</script>
{% endblock %}
