{% extends "base.html" %} 
{% block page_title %}View/Edit or Merge a tables source data{% endblock %}

{% block content %}
<form action="/merge/" method="post">	{% csrf_token %}
<p>Select source data</p>
<ul>
		{% for item in get_sources %}
			<li>Table: {{ item.name }}
					<ul>
					<li>View Source: <a href="/silo/{{ item.read_id }}">{{ item.read_name }}</a></li>
					<li>Description: {{ item.read_description }}</li>
					<li>Edit Source: <a href="/silo_edit/{{ item.read_id }}">{{ item.read_name }}</a></li>
					</ul>
			</li>
		{% endfor %}
</ul>
 <br>
 <input type="hidden" name="silo_id" value="{{ item.id }}">
 <input type="submit" value="Submit" />
 </form>
{% endblock content %}