{% extends "base.html" %}

{% block page_title %}<h2>Track</h2>{% endblock %}

{% block content %}
<script src="{{ STATIC_URL }}js/Chart.min.js"></script>

    <div class="panel panel-default">
        <div class="panel-heading">Track is a tool for all types of data collection.</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-8 col-md-4">
                    <div class="thumbnail">
                        <div class="canvas-container-doughnut">
                              <canvas id="count"></canvas>
                        </div>
                        <div class="caption">
                            Public, Private and shared data sets can be combined and aggregated.
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-4">
                     <div class="thumbnail">
                        <div class="canvas-container-doughnut">
                            <canvas id="read"></canvas>
                        </div>
                        <div class="caption">
                            Track can integrate with data from multiple platforms and data sources.
                        </div>
                     </div>
                </div>
                <!--
                <div class="col-sm-8 col-md-4">
                     <div class="thumbnail">
                        <div class="canvas-container-doughnut">
                            <canvas id="tag"></canvas>
                        </div>
                         <div class="caption">
                            Clean, edit, tag and categorize your data for sharing, analysis and visualization.
                         </div>
                     </div>
                </div>
                -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% if user.is_authenticated %}
                        <a href="/silos/" class="btn btn-lg btn-success">View My Data</a>
                    {% else %}
                        <div class="social-buttons">
                            <p>Login with your {{ site_name }} Tola Account.</p>
                            <a href="{% url 'social:begin' 'tola' %}" class="btn btn-go"><i class="fa fa-key"></i> TolaData Login </a>
                        </div>
                    {% endif %}
                </div>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% if user.is_authenticated  %}
            <div class="table-responsive">
              <h3>Data Tables</h3>
              <table class="table">
                  <tr>
                      <th>Tags</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Public</th>
                      <th>Date Created</th>
                  </tr>
                  {% for silo in silos_user %}
                  <tr>
                      <td>{{ silo.tag_list }}</td>
                      <td><a href="{% url 'silo_detail' silo.id %}">{{ silo.name }}</a></td>
                      <td>{{ silo.description }}</td>
                      <td>{{ silo.public }}</td>
                      <td>{{ silo.created }}</td>
                  </tr>
                  {% endfor %}
                  {% for silo in silos_public %}
                  <tr>
                      <td>{{ silo.tag_list }}</td>
                      <td><a href="{% url 'silo_detail' silo.id %}">{{ silo.name }}</a></td>
                      <td>{{ silo.description }}</td>
                      <td>{{ silo.public }}</td>
                      <td>{{ silo.created }}</td>
                  </tr>
                  {% endfor %}
              </table>
            </div>
            {% endif %}
        </div>
    </div>

<script>
    var dynamicColors = function() {
    var r = Math.floor(Math.random() * 255);
    var g = Math.floor(Math.random() * 255);
    var b = Math.floor(Math.random() * 255);
    return "rgba(" + r + "," + g + "," + b + ", 0.3)";
    }
</script>

<script id="doughnutchart">
// Render tables in a doughnut chart
var private = {{ silos_user|length }} - {{ silos_user_public_total }} - {{ silos_user_shared_total }}
var options = {
    padding: 10,
    legend: {
        position: 'bottom',
        display: true,
        labels: {
            fontColor: 'rgb(77, 178, 209)',
            boxWidth: 15,
        }
    },
    tooltips: {
        enabled: true,
    }
};

var data = {
    datasets: [{
        data: [
            private,
            {{ silos_user_public_total }},
            {{ silos_user_shared_total }}
        ],
        backgroundColor: [
            "rgb(77, 178, 209)",
            "#637b85",
            "#2c9c69",
        ],
    }],
    labels: [
        "Private - " + private,
        "Public - {{ silos_user_public_total }}",
        "Shared - {{ silos_user_shared_total }}",
    ]
};

var ctx = document.getElementById("count").getContext("2d");
ctx.canvas.height = 200;
var statusChart = new Chart(ctx, {
    type: 'doughnut',
    data: data,
    options: options
});
</script>

<script id="read">
// Render reads in a polar chart
var options = {
    legend: {
        display: true,
        position: 'top',
        labels: {
            fontColor: 'rgb(77, 178, 209)',
            boxWidth: 15,
        }
    }
};
var data = {
    datasets: [{
        data: [
           {% for _ in readtypes %}
                1,
           {% endfor%}
        ],
        backgroundColor: [
           {% for read_type in readtypes %}
                dynamicColors(),
           {% endfor%}
        ],
    }],
    labels: [
        {% for read_type in readtypes %}
            "{{ read_type }}",
        {% endfor%}
    ]
};
var ctx = document.getElementById("read").getContext("2d");
ctx.canvas.height = 200;
var statusChart = new Chart(ctx, {
    type: 'polarArea',
    data: data,
    options: options
});
</script>

<!--
<script id="tags">
// Render tags  in a radar chart
var options = {
    legend: {
        display: true,
        position: 'top',
        labels: {
            fontColor: 'rgb(77, 178, 209)',
            boxWidth: 15,
        }
    }
};
var data = {
    datasets: [{
        data: [
           {% for tag in tags %}
                {{ tag.times_tagged }},
           {% endfor%}
        ],
        backgroundColor: [
           {% for tag in tags %}
                'rgb(77, 178, 209)',
           {% endfor%}
        ],
    }],
    labels: [
        {% for tag in tags %}
            "{{ tag.name }}",
        {% endfor%}
    ]
};
var ctx = document.getElementById("tag").getContext("2d");
ctx.canvas.height = 200;
var statusChart = new Chart(ctx, {
    type: 'radar',
    data: data,
    options: options
});
</script>
-->

{% endblock content %}
