
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container-center {
    height: 100%;
    vertical-align: top;
    align-items: stretch;
    display: inline-block;
    vertical-align: top;
    float: left;
}

.alert{
    margin-top: 40px;
    margin-bottom: -20px;
}

#footer > .container {
    padding: 10px;
}

.btn-frozen {
    color: #fff;
    background-color: #808080;
    border-color: #808080;
}

.date-badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: lightgrey;
    border-radius: 5px
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   the animation centered, and no-repeating */
#loading {
    display:    none;
    position:   fixed;
    z-index:    1100;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../../../img/ajax-loader.gif')
                50% 50%
                no-repeat;
}
.table-responsive {
  overflow-x: visible !important;
  overflow-y: visible !important;
}

/* Login buttons for Social */
.social-buttons{
    margin:12px 0
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
.btn-go{
    color: #fff;
    background-color:#55acee;
}
.btn-go:hover{
    color: #fff;
    background-color:#59b5fa;
}


.tag {
    font-family: Helvetica, Arial, sans-serif;
    background: #588fe5;
    display: inline-block;
    font-size: 10px;
    color: #fff;
    position: relative;
    padding: .25em;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin: 0 1px 0 0;
    text-decoration: none;
}

.tag:hover {
    text-decoration: none;
    color: #fff;
}



.tag:hover:after {
    text-decoration: none;
    color: #fff;
}


#failed_project_agreements_modal_body {
    max-height:calc(100vh - 150px);
    overflow-y:auto;
    overflow-x:auto;
    font-family:monospace;
}

