
/* data tables changes */
.dataTables_length {
    padding: 10px 10px 0px 12px;
}

.dataTables_info {
    padding: 10px 10px 0px 12px;
}

.dataTables_filter {
    padding: 10px 10px 0px 12px;
}

.dataTables_paginate {
    padding: 10px 10px 0px 12px;
}