{% extends "base.html" %} 

{% load render_table from django_tables2 %}

{% block page_title %} Data Table: {{ silo.name }} <br /><small><p>{{ silo.description|default:"" }}</p></small>{% endblock %}

{% block content %}
<p>Edit or Delete from each row of data below <a href="/edit_columns/{{ id }}/">edit/delete columns here</a> or <a href="/new_column/{{ id }}/">add a new column here</a>.</p>
<a href="/set_unique_columns/{{ id }}/" id="unique_cols_selection_btn" class="btn btn-primary">Set up Unique Column(s)</a>
<a href="{% url 'updateMergedTable' id %}" id="update_silo_btn" class="btn btn-primary">Update</a>
<a href="{% url 'acitivity_push' id %}" id="push_to_activity_btn" class="btn btn-primary">Push To Tola Activity</a>
<br />
<br />
<form class="form-inline" action="{% url 'updateColumn' %}"  method="POST">
    {% csrf_token %}
    <input name="silo_id" value="{{silo.pk}}" type="hidden">
    <div class="form-group">
        <label for="all_cols">Set value  for column</label>
        <select name="update_col" class="form-control">
            <option value="-1">Select Column</option>
            {% for col in cols %}
                <option value="{{ col }}">{{ col }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="new_val">New Value</label>
        <input type="text" class="form-control" id="new_val" name="new_val">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<br />
<div id="table_data">
    {% render_table silo_table %}
</div>

<br />
{% comment %}
    {% for row in silo_table %}
        {% for k,v in row.items %}
            {{ k }} : {{ v }} <br />
        {% endfor %}
    {% endfor %}
{% endcomment %}

<div class="modal fade" id="unique_cols_selection_modal" tabindex="-1" role="dialog" aria-labelledby="pr_items_modal_div_label" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Choose unique column(s) for this table.</h4>
            </div>
            <div class="modal-body" id="unique_cols_selection_modal_body_div">
                <label for="silo_cols">Unique Columns</label>
                <select multiple id="silo_cols_multi_select" name="silo_cols" class="form-control input-sm" style="width: 100%;">
                    {% for col in cols %}
                        {% for unique_field in silo.unique_fields.all %}
                            {% if col  == unique_field.name %}
                                <option value="{{ col }}" selected="True">{{ unique_field.name }}</option>
                            {% else %}
                                <option value="{{ col }}">{{ col }}</option>
                            {% endif %}
                        {% empty %}
                            <option value="{{ col }}">{{ col }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="add_unique_cols_save_btn" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="failed_project_agreements_modal" tabindex="-1" role="dialog" aria-labelledby="failed_project_agreements_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Project Agreements Failed to Post</h4>
            </div>
            <div class="modal-body" id="failed_project_agreements_modal_body">
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block extra_js_in_body %}
<script type="text/javascript">
"use strict";
    $(document).ready(function() {
        //$('#table_data').on('click', 'th', function(e) {
            //e.preventDefault();
            //var url = `{% url 'siloDetail' id %}` + $(this).children('a').attr('href');
            //window.location = url ;
        //});
        $("#silo_cols_multi_select").select2();
        $("body").on("click", "#unique_cols_selection_btn", function(e) {
            e.preventDefault();
            $("#unique_cols_selection_modal").modal('show');
        });
        
        $("#unique_cols_selection_modal").on("click", "#add_unique_cols_save_btn", function(e) {
            e.preventDefault();
            var url = "{% url 'add_unique_fields_to_silo' %}" + "/";
            var params = {"silo_id": `{{ id }}`, "fields": $("select#silo_cols_multi_select").val()};
            //console.log(params);
            $.post(url, params)
            .done(function(data, textStatus, jqXHR) {
                console.log(JSON.stringify(data));
            });
        });
        $("body").on("click", "#push_to_activity_btn", function(e) {
            e.preventDefault();
            var url = $(this).attr("href");
            console.log(url);

            $.ajax({
                url: url,
                type: 'post',
                //data: {
                //   'bla': 'bla bla',
                //},
                headers: {
                    'Authorization': 'Token xxxxx',
                },
                dataType: 'json',
                complete: function(data, status) {
                    if (status == "success") {
                        var failed_agreements = data.responseJSON["data"];
                        console.log(failed_agreements);
                        /*
                        for (var i=0; i<failed_agreements.length; i++){
                            $.each(failed_agreements[i], function(k,v) {
                                console.log(k + ": " + v);
                            });
                        }
                        */
                        var table = new tableObject(failed_agreements);
                        $("#failed_project_agreements_modal_body").empty();
                        $("#failed_project_agreements_modal_body").append(table);
                        $("#failed_project_agreements_modal").modal('show');
                    } else {
                        console.log("something weird happened");
                    }
                }
            });

        });
    });
</script>
{% endblock %}