{% extends "base.html" %}


{% block page_title %}<center> <a href="/silo_edit/{{ silo.id }}">{{ silo.name }}</a>
    <br /><small><p>{{ silo.description|default:"" }}</p></small></center>
{% endblock %}

{% block content %}


{% for col in cols %}
    <a class="toggle-viz" data-column="{{forloop.counter0}}">{{col}}</a>
{% endfor %}
<table id="data_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        {% for c in cols %}
            <th>{{c}}</th>
        {% endfor %}
    </thead>
</table>

{% endblock content %}


{% block extra_js_in_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            var data = $.parseJSON(`{{ data|safe }}`);
            var cols = [];

            $("#data_table").find("th").each(function(i){
                if (i == 0) {
                    // make the first col have a set width and non-sortable
                    cols.push({"data": $(this).text(), "orderable": false , "width": "45px"});
                } else {
                    cols.push({"data": $(this).text()});
                }
            })
            /*
            var mydata = [];
            $.each(data, function(i,row){
                mydata.push({});
                var r = mydata.length -1;
                $.each(row, function(k,v){
                    if (jQuery.type(v) == "object") {
                        var d = new Date(0);
                        d.setUTCSeconds(v['$date']/1000);
                        mydata[r][k] = d.toDateString();
                    } else {
                        mydata[r][k] = v;
                    }
                })
            });
            console.log(mydata);
            */
            var silo_table = $('#data_table').DataTable({
                stateSave: true, // save table state in local cache
                "ordering": true,
                "order": [[1,"desc"]],
                "pageLength": 50,
                "data": data,
                "columns": cols,
            });

            // toggles tables' column visibility
            $('a.toggle-viz').on('click', function(e){
                e.preventDefault();
                var column = silo_table.column($(this).attr('data-column') );
                column.visible( ! column.visible() );
            });

            /*
            console.log( 'Table\'s column visibility are set to: '+silo_table.columns().visible().join(', ') );
            $.each(silo_table.columns(), function(i,col){
                console.log("i="+i + " " + col);
            });
            */
        });
    </script>


{% endblock extra_js_in_body %}