{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Mercy Corps Application">
        <meta name="author" content="Mercy Corps">

        <title>{% block title %} TolaTables - Collect, Aggregate and Store Data {% endblock %}</title>

        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/png">

        <!-- Bootstrap -->
        <link href="{{ STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" type="text/css" />

        <!-- JQuery UI CSS -->
        <link href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.10.4.min.css" rel="stylesheet" type="text/css" />

        <!-- Custom Footer CSS -->
        <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet" type="text/css">

        <link href="{{ STATIC_URL }}css/select2.min.css" rel="stylesheet" type="text/css">

        <!--- Django Tables2 css -->
        <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />

        <link href="{{ STATIC_URL }}css/datatables.min.css" rel="stylesheet" type="text/css" />

        {% block extra_js_in_header %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>

        <!-- App specific Javascript -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>

        {% endblock %}

    </head>
    <body>
        <!--http://getbootstrap.com/examples/sticky-footer-navbar/-->
        <div class="navbar navbar-default navbar-tola navbar-fixed-top" role="navigation">
            <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img style="margin-top: -3px; max-width: 140px;" src="{{ STATIC_URL }}img/tola-tables-primary-mark-white.png" />
                </a>
            </div>
            <div class="navbar-collapse collapse" role="navigation">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Import Data<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/onalogin"><span class="glyphicon glyphicon-list-alt"></span> Import from ONA</a></li>
                            <li><a href="{% url 'newRead' %}"><span class="glyphicon glyphicon-list-alt"></span> Import From CSV</a></li>

                        </ul>
                    </li>

                     <li class="dropdown">
                        <a href="{% url 'listSilos' %}" > Your Tables</a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://tola.work/documentation" target="blank">Documentation</a></li>
                            <li><a href="http://tola.work/faq" target="blank">FAQ</a></li>
                            <li><a href="http://tola.work/contact" target="blank">Contact</a></li>
                        </ul>
                    </li>

                </ul>
                {% if user.is_authenticated  %}
                <span>{{ request.session.country }}</span>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ user.userprofile.name }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-lock"></span> Logout</a></li>
                            <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        </ul>
                    </li><!-- .dropdown collapse -->
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Login <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-text">
                                    Login via
                                    <div class="social-buttons">
                                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-go"><i class="fa fa-google"></i> Google</a>
                                    </div>
                                    or
                                    <a href="{% url 'login' %}">Login with Tola Account</a><br/>

                                    <form class="form" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="hidden" name="next" value="{{ next }}" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="username" placeholder="Username" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" placeholder="Password" class="form-control">
                                        </div>
                                        <button type="submit" class="btn btn-success">Sign in</button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </li><!-- .dropdown collapse -->
                </ul>
                {% endif %}
            </div><!-- .navbar-header collapse -->
            </div><!-- .container collapse -->
        </div><!-- .navbar collapse -->


        <div class="container">
            <br/>
            <br/>
            <div>{% block bread_crumb %}{% endblock %}</div>
            <div id = "alerts">
                <!-- Any messages for users -->
                {% block messages %}
                    {% if messages %}
                            {% for message in messages %}
                                    {% if 'safe' in message.tags %}
                                        <div class="alert alert-{{message.tags}}">{{ message|safe }}</div>
                                    {% else %}
                                        <div class="alert alert-{{message.tags}}">{{ message|safe }}</div>
                                    {% endif %}
                            {% endfor %}
                    <br/>
                    {% endif %}
                {% endblock messages %}
            </div>
            <br/>
            <!-- Page title  -->
            <h2>{% block page_title %}{% endblock %}</h2>

            <!-- Main body content -->
            <p>{% block content %}{% endblock %}</p>

        </div><!-- .container collapse -->

        <div id = "loading" class="modal"> </div>

        <div id="footer">
            <!-- Sticky Footer -->
            <div class="container">
                <div class="col-md-6 text-left">
                    <a href="http://www.toladata.com" class="text-muted">Inspired in Kabul. Built in Portland.</a>
                </div>
                <div class="col-md-6 text-right">
                    <a href="http://tola.work/documentation" class="text-muted">Documentation</a> | <a href="http://tola.work/faq" class="text-muted">FAQ</a> | <a href="http://tola.work/helpdesk/tickets/submit/" class="text-muted">Feedback</a> | <a href="https://github.com/toladata/TolaActivity/blob/master/LICENSE" class="text-muted">License</a>
                </div>
            </div>
        </div><!-- .footer collapse -->

        <!-- jQuery UI (necessary for datepicker as well as dataTables library -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.4.min.js"></script>

        <!-- data tables jquery javascript library -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/datatables.min.js"></script>

        <!-- Bootstrap compiled javascript plugins -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/select2.min.js"></script>

        <!-- Typekit (Fonts) -->
        <script src="https://use.typekit.net/lmu1xjz.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

        {% block extra_js_in_body %}{% endblock %}
    </body>
</html>

