{% extends "base.html" %}
{% block page_title %}Documentation{% endblock %}

{% block content %}
        <h3>Tola Data</h3>
        <p>
        Share, Load, Edit and Display data from various mobile data collection platforms.
        </p>
        <p>
        The Read app is intended for use with FormHub data collection platform. You should be able to add an additional app using Read as a template to import data or create new "reads" from other data sources. You only need to import the new app, add the new read templates and update the base template to include your new app as sub-navigation to the main read.
        </p>
        <ul>
            <li>Share: Share your data as a new JSON or XML feed of one or more aggregated data sources, or make it availabel for download as a CSV/Excel for or send it to a Google Docs account.</li>
            <li>Edit Data: Once a data source has been uploaded you can then Edit the column names, data values or delete duplicates</li>
            <li>Silo: Store your data in A data store that can then be combined with one or more other data sources.</li>
            <li>Data Source: Import data from a REST or JSon feed, XML or CSV file.  Once a Data source is created you can save it and retireve the data again into the same stored silo in Tola or a new one.</li>
        </ul>
        </p>

{% endblock content %}
